/node_modules
/public/hot
/public/storage
/storage/*.key
/postman/*
/vendor
.env
backup.env
/encrypted
/v1/*
firebase.json
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
package-lock.json
sftp.json
